<link rel="stylesheet" hfef="/stylesheets/style.css">

<h1>{{ title }}</h1>
<p>Welcome to {{ title}} </p>


{{# if success }}
    <section class = "success">
        <h2>Success Validation!</h2>
    </section>
{{ else }}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{# each error}}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}


<form action="/submit" method="post">

   <div class="input">
       <label for="email">E-mail</label>
       <input type="text" id ="email" name="email">
   </div>

    <div class="input">
        <label for="password">Password</label>
        <input type="password" id ="password" name="password">
    </div>

    <div class="input">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id ="confirmPassword" name="confirmPassword">
    </div>

    <button type="submit">Sign up</button>

</form>
{{/if}}